.cities-section__container {
  display: flex;
  max-width: 376px;
  max-height: 336px;
  padding: 24px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  background-color: #222;
  border-radius: 16px;
  margin: 32px;
  min-width: 328px;
}
@media screen and (max-width: 767px) {
  .cities-section__container  {
    margin: 0 auto;
    padding: 16px;
    gap: 16px;
  }
}