.form__button {
  border-radius: 32px;
  background-color: #00CC66;
  padding: 16px 24px;
  border: none;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  transition: background-color 1s;
  cursor: pointer;
}

.form__button:hover {
  background-color: #00994C;
}