.header__logo {
  overflow: hidden;
  z-index: 4;
  text-decoration: none;
  padding: 7px;
}
.header__logo img {
  max-width: 100%;
  display: block;
}
@media (max-width: 767px) {
  .header__logo {
    position: fixed;
    top: 0;
    left: 0;
    padding: 14px 16px;
  }
}
