.cities__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  color: #ffffff;
  z-index: 1;
  margin: 96px 0 16px;
}

@media screen and (max-width: 767px) {
  .cities__title {
    font-size: 28px;
    line-height: 35px;
    margin-top: 56px;
    margin-bottom: 10px;
  }
}
