.header__list {
  display: flex;
  padding: 0;
  position: relative;
  margin: 0;
  padding: 8px 100px;
}
.header__list li {
  list-style: none;
  padding: 8px 16px;
}
@media screen and (min-width:768px) and (max-width: 1024px) {
  .header__list {
    padding: 8px 50px;
    padding-right: 0;
  }
}
@media (max-width:767px) {
  .header__list {
    display: none;
  }
  .header__list li {
    margin: 16px 0;
    /* padding: 16px 24px; */
  }
}