.cases-page__caret {
  position: relative;
  background-size: contain;
}

.cases-page__caret::after {
  content: url(../../../images/icon/CaretDown.svg);
  width: 24px;
  height: 24px;
  position: absolute;
  right: 24px;
  top: 16px;
  pointer-events: none;
}

@media screen and (max-width: 767px) {
  .cases-page__caret::after {
    right: 16px;
    top: 8px;
  }
}

@media screen and (max-width: 359px) {
  .cases-page__caret::after {
    width: 16px;
    height: 16px;
  }
}