.header__checkbox {
  display: none;
}
@media (max-width:767px) {
  .header__checkbox:checked ~ .header__button {
    opacity: 1;
    transition: opacity 1s ease-out;
  }
  .header__checkbox:checked ~ .header__menu {
    opacity: 1;
    transition: opacity 1s ease-out;
  }
}
