.maintext {
  display: flex;
  padding-top: 96px;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1080px;
  min-width: 288px;
  width: 100%;
  margin-bottom: 115px;
}

@media screen and (max-width: 767px) {
  .maintext {
    flex-direction: column;
    align-items: center;
    padding-top: 56px;
    margin-bottom: 8px;
  }
}
