.cases__buttons {
  display: flex;
  gap: 16px;
}

@media screen and (max-width: 767px) {
  .cases__buttons {
    gap: 8px;
  }
}

@media screen and (max-width: 360px) {
    .cases__buttons {
      justify-content: center;
    }
  }
