.green-figure {
  /*
  background-image: url(../../images/green-rectangle.png); 
  background-repeat: no-repeat;
  background-size: cover;
  width: 440px;
  height: 500px;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  */
  border-radius: 400px;
  height: 500px;
  position: absolute;
  width: 1000px;
  z-index: -2;
}

@media screen and (max-width: 767px) {
  .green-figure {
    border-radius: 200px;
    width: 500px;
    height: 250px; 
  }
}

@media screen and (max-width: 450px) {
  .green-figure {
    border-radius: 113px;
    width: 300px;
    height: 160px;
  }
}