.form-section__capsule {
  width: 600px;
  height: 900px;
  transform: rotate(120deg);
  position: absolute;
  border-radius: 400px;
  border: 2px solid #0C6;
  left: -370px;
  top: 110px;
}
@media screen and (max-width: 767px) {
  .form-section__capsule  {
    display: none;
  }
}