.header__link {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
  cursor: pointer;
  background-color: #1a1a1a;
  padding: 8px 16px;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.header__link:hover {
  opacity: 0.5;
}
