<footer class="footer">
  <a href="/" class="footer__logo"></a>
  <nav class="footer__links">
    <a href="./services.html" class="footer__link footer__link_services">Услуги</a>
    <a href="./cases.html" class="footer__link footer__link_cases">Кейсы</a>
    <a href="#" class="footer__link footer__link_work">Работа у нас</a>
    <a href="#" class="footer__link footer__link_about">О компании</a>
    <a href="./cities.html" class="footer__link footer__link_cities">Города</a>
    <a href="./privacy-policy.html" class="footer__link footer__link_privacy"
      >Политика конфиденциальности</a
    >
    <a href="#" class="footer__link footer__link_autopark">Автопарк</a>
    <a href="./contacts.html" class="footer__link footer__link_contacts">Контакты</a>
  </nav>
  <p class="footer__copyright">2023 © RTE Group</p>
</footer>
