.case__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 24px;
    padding-top: 45px;
}

@media screen and (max-width: 1095px) {
    .case__cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 727px) {
    .case__cards {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 8px;
        padding-top: 32px;
    }
}
