.case__card {
    height: 410px;
    width: 344px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 24px;
    margin: 0;
    text-decoration: none;
    transition: border-color 0.6s ease;
}

@media screen and (max-width: 727px) {
    .case__card {
        height: 378px;
        width: 328px;
    }
}

.case__card:hover {
    border-color: #fff;
}
