<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= home.h1 %> - Ошибка 404</title>
  </head>
  <body class="page">
    <%= require('../blocks/header/header.ejs').default %>

    <main class="error content container">
      <div class="error__wrapper">
        <div class="error__content">
          <h1 class="error__title title">404</h1>
          <p class="error__subtitle">Страница не найдена</p>
          <p class="error__text">Страница не существует или была удалена.</p>
          <a class="error__button button button__primary" href="./index.html">На главную</a>
        </div>
        <div class="error__illustration">
          <img class="error__icon" src="<%=require('../images/error-404.svg')%>" alt="Error 500" />
        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="footer__logo"></div>
      <nav class="footer__links">
        <a href="#" class="footer__link footer__link_services" target="_blank">Услуги</a>
        <a href="#" class="footer__link footer__link_cases" target="_blank">Кейсы</a>
        <a href="#" class="footer__link footer__link_work" target="_blank">Работа у нас</a>
        <a href="#" class="footer__link footer__link_about" target="_blank">О компании</a>
        <a href="#" class="footer__link footer__link_cities" target="_blank">Города</a>
        <a href="#" class="footer__link footer__link_privacy" target="_blank"
          >Политика конфиденциальности</a
        >
        <a href="#" class="footer__link footer__link_autopark" target="_blank">Автопарк</a>
        <a href="#" class="footer__link footer__link_contacts" target="_blank">Контакты</a>
      </nav>
      <p class="footer__copyright">2023 © RTE Group</p>
    </footer>
  </body>
</html>
