<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= cases.h2 %> - Страница с различными кейсами</title>
  </head>
  <body class="page">
    <%= require('../blocks/header/header.ejs').default %>
    <div class="green-figure green-figure__full-color"></div>
    <main class="container">
      <section class="maintext">
        <div class="maintext__heading">
          <h1 class="maintext__title title"><%= cases.h2 %></h1>
          <p class="maintext__text"><%= cases.text[0] %></p>
          <p class="maintext__text"><%= cases.text[1] %></p>
          <p class="maintext__text"><%= cases.text[2] %></p>
          <p class="maintext__text"><%= cases.text[3] %></p>
        </div>
        <div class="form-block">
          <div class="form form__form-main">
            <h2 class="form__title">Оставить заявку на перевозку</h2>
            <form class="form__content" name="mainForm" novalidate>
              <div class="form__fields">
                <div class="input__container user-name-container">
                  <input
                    type="text"
                    id="user-name"
                    class="input__field text"
                    name="userName"
                    placeholder=" "
                    maxlength="255"
                    required
                    value=""
                  />
                  <label for="user-name" class="input__label-name user-name-label">Имя*</label>
                </div>
                <span class="input__error user-name-error"></span>
                <div class="input__container user-phone-container">
                  <input
                    type="tel"
                    id="user-phone"
                    class="input__field text"
                    name="userPhone"
                    placeholder=" "
                    maxlength="255"
                    required
                    pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$"
                    value=""
                  />
                  <label for="user-phone" class="input__label-name user-phone-label"
                    >Телефон*</label
                  >
                </div>
                <span class="input__error user-phone-error"></span>
                <div class="input__container form__field-container_text">
                  <textarea
                    id="goods-data"
                    class="input__field input_textarea"
                    name="goodsData"
                    placeholder="Укажите, что именно вы хотите перевезти, откуда и куда, какие габариты и масса у вашего груза"
                    maxlength="255"
                    rows="3"
                  ></textarea>
                  <label for="goods-data" class="input__label-name"
                    >Краткая характеристика груза</label
                  >
                </div>
                <div class="input__checkbox-container">
                  <label for="check-field">
                    <input
                      type="checkbox"
                      id="check-field"
                      class="input__field input_checkbox"
                      name="dataConfirm"
                      required
                    />
                    <span class="input__field input_checkbox-pseudo"></span>
                  </label>
                  <span class="form__field-span"
                    >Согласен на обработку персональных данных в соответствии с
                    <span class="form__field-span_accent">политикой конфиденциальности</span></span
                  >
                  <span class="form__field-error user-name_error"></span>
                </div>
              </div>
              <button type="submit" name="sendButton" class="button button__primary">
                Отправить
              </button>
            </form>
          </div>
          <div class="form submit-message">
            <button
              type="button"
              name="closeButton"
              class="submit-message__close-icon"
              aria-label="Кнопка закрытия всплывающего окна"
            ></button>
            <img
              class="submit-message__success-icon"
              src="<%=require('../images/request-confirm.svg')%>"
              alt="Иконка-подтверждение успешной отправки формы"
            />
            <h2 class="submit-message__title">Заявка отправлена!</h2>
            <p class="submit-message__subtitle">Мы&nbsp;свяжемся с&nbsp;вами в&nbsp;ближайшее время</p>
          </div>
        </div>
      </section>
      <section class="cases">
        <div class="cases__buttons">
          <button class="button button__dark cases__button">
            Все города <img src="<%=require('../images/icon/CaretDown.svg')%>" alt="Иконка стрелки вниз для раскрывающегося списка городов" />
          </button>
          <button class="button button__dark cases__button">
            Все услуги <img src="<%=require('../images/icon/CaretDown.svg')%>" alt="Иконка стрелки вниз для раскрывающегося списка услуг" />
          </button>
        </div>
        <div class="cases__items">
          <a href="./case-page.html" target="_blank" class="case">
            <article class="case__content">
              <img
                class="case__image"
                src="<%=require('../images/keys1.jpeg')%>"
                alt="Кейс фотография"
              />
              <h3 class="case__title"><%= casesingle.title %></h3>
              <p class="case__description"><%= casesingle.text %></p>
              <div class="case__tags">
                <p class="case__tag"><%= casesingle.subtext[0] %></p>
                <p class="case__tag"><%= casesingle.city[0] %></p>
              </div>
            </article>
          </a>
          <a href="#" target="_blank" class="case">
            <article class="case__content">
              <img
                class="case__image"
                src="<%=require('../images/keys2.jpeg')%>"
                alt="Кейс фотография"
              />
              <h3 class="case__title"><%= casesingle.title %></h3>
              <p class="case__description"><%= casesingle.text %></p>
              <div class="case__tags">
                <p class="case__tag"><%= casesingle.subtext[1] %></p>
                <p class="case__tag"><%= casesingle.city[1] %></p>
              </div>
            </article>
          </a>
          <a href="#" target="_blank" class="case">
            <article class="case__content">
              <img
                class="case__image"
                src="<%=require('../images/keys3.jpeg')%>"
                alt="Кейс фотография"
              />
              <h3 class="case__title"><%= casesingle.title %></h3>
              <p class="case__description"><%= casesingle.text %></p>
              <div class="case__tags">
                <p class="case__tag"><%= casesingle.subtext[2] %></p>
                <p class="case__tag"><%= casesingle.city[2] %></p>
              </div>
            </article>
          </a>
          <a href="#" target="_blank" class="case">
            <article class="case__content">
              <img
                class="case__image"
                src="<%=require('../images/keys1.jpeg')%>"
                alt="Кейс фотография"
              />
              <h3 class="case__title"><%= casesingle.title %></h3>
              <p class="case__description"><%= casesingle.text %></p>
              <div class="case__tags">
                <p class="case__tag"><%= casesingle.subtext[0] %></p>
                <p class="case__tag"><%= casesingle.city[0] %></p>
              </div>
            </article>
          </a>
          <a href="#" target="_blank" class="case">
            <article class="case__content">
              <img
                class="case__image"
                src="<%=require('../images/keys2.jpeg')%>"
                alt="Кейс фотография"
              />
              <h3 class="case__title"><%= casesingle.title %></h3>
              <p class="case__description"><%= casesingle.text %></p>
              <div class="case__tags">
                <p class="case__tag"><%= casesingle.subtext[1] %></p>
                <p class="case__tag"><%= casesingle.city[1] %></p>
              </div>
            </article>
          </a>
          <a href="#" target="_blank" class="case">
            <article class="case__content">
              <img
                class="case__image"
                src="<%=require('../images/keys3.jpeg')%>"
                alt="Кейс фотография"
              />
              <h3 class="case__title"><%= casesingle.title %></h3>
              <p class="case__description"><%= casesingle.text %></p>
              <div class="case__tags">
                <p class="case__tag"><%= casesingle.subtext[2] %></p>
                <p class="case__tag"><%= casesingle.city[2] %></p>
              </div>
            </article>
          </a>
          <a href="#" target="_blank" class="case">
            <article class="case__content">
              <img
                class="case__image"
                src="<%=require('../images/keys1.jpeg')%>"
                alt="Кейс фотография"
              />
              <h3 class="case__title"><%= casesingle.title %></h3>
              <p class="case__description"><%= casesingle.text %></p>
              <div class="case__tags">
                <p class="case__tag"><%= casesingle.subtext[0] %></p>
                <p class="case__tag"><%= casesingle.city[0] %></p>
              </div>
            </article>
          </a>
          <a href="#" target="_blank" class="case">
            <article class="case__content">
              <img
                class="case__image"
                src="<%=require('../images/keys2.jpeg')%>"
                alt="Кейс фотография"
              />
              <h3 class="case__title"><%= casesingle.title %></h3>
              <p class="case__description"><%= casesingle.text %></p>
              <div class="case__tags">
                <p class="case__tag"><%= casesingle.subtext[1] %></p>
                <p class="case__tag"><%= casesingle.city[1] %></p>
              </div>
            </article>
          </a>
          <a href="#" target="_blank" class="case">
            <article class="case__content">
              <img
                class="case__image"
                src="<%=require('../images/keys3.jpeg')%>"
                alt="Кейс фотография"
              />
              <h3 class="case__title"><%= casesingle.title %></h3>
              <p class="case__description"><%= casesingle.text %></p>
              <div class="case__tags">
                <p class="case__tag"><%= casesingle.subtext[2] %></p>
                <p class="case__tag"><%= casesingle.city[2] %></p>
              </div>
            </article>
          </a>
          <a href="#" target="_blank" class="case">
            <article class="case__content">
              <img
                class="case__image"
                src="<%=require('../images/keys1.jpeg')%>"
                alt="Кейс фотография"
              />
              <h3 class="case__title"><%= casesingle.title %></h3>
              <p class="case__description"><%= casesingle.text %></p>
              <div class="case__tags">
                <p class="case__tag"><%= casesingle.subtext[0] %></p>
                <p class="case__tag"><%= casesingle.city[0] %></p>
              </div>
            </article>
          </a>
          <a href="#" target="_blank" class="case">
            <article class="case__content">
              <img
                class="case__image"
                src="<%=require('../images/keys2.jpeg')%>"
                alt="Кейс фотография"
              />
              <h3 class="case__title"><%= casesingle.title %></h3>
              <p class="case__description"><%= casesingle.text %></p>
              <div class="case__tags">
                <p class="case__tag"><%= casesingle.subtext[1] %></p>
                <p class="case__tag"><%= casesingle.city[1] %></p>
              </div>
            </article>
          </a>
          <a href="#" target="_blank" class="case">
            <article class="case__content">
              <img
                class="case__image"
                src="<%=require('../images/keys3.jpeg')%>"
                alt="Кейс фотография"
              />
              <h3 class="case__title"><%= casesingle.title %></h3>
              <p class="case__description"><%= casesingle.text %></p>
              <div class="case__tags">
                <p class="case__tag"><%= casesingle.subtext[2] %></p>
                <p class="case__tag"><%= casesingle.city[2] %></p>
              </div>
            </article>
          </a>
        </div>
      </section>
    </main>

    <%= require('../blocks/footer/footer.ejs').default %>
  </body>
</html>
