<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= cases.h2 %> - Страница с различными кейсами</title>
  </head>
  <body class="page">
    <header class="header">
      <div class="header__container-main">
        <div class="header__body">
          <div class="logo__container logo__container_type_horizontal">
            <img
              class="logo"
              src="<%=require('../images/logo.svg')%>"
              alt="Логотип сервиса РТ Экспресс"
            />
            <span class="logo__caption logo__caption_hidden"><%= home.h1 %></span>
          </div>
          <div class="header__container">
            <div class="header__main">
              <div class="header__contact">
                <img src="<%=require('../images/phone-icon.svg')%>" />
                <span class="header__phone">+7 917 275-90-13</span>
              </div>
            </div>
            <label for="checkbox" class="header__checkbox-label"></label>
            <input id="checkbox" type="checkbox" class="header__checkbox" />
            <button class="button button__primary header__button">Оформить заявку</button>
            <nav class="header__menu">
              <ul class="header__list">
                <li><a href="./services.html" class="header__link">Услуги</a></li>
                <li><a href="" class="header__link">Автопарк</a></li>
                <li><a href="./cases.html" class="header__link">Кейсы</a></li>
                <li><a href="" class="header__link">Города</a></li>
                <li><a href="" class="header__link">О компании</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <main class="container">
      <section class="maintext">
        <div class="green-figure"></div>
        <div class="maintext__heading">
          <h1 class="maintext__title title"><%= cases.h2 %></h1>
          <p class="maintext__text"><%= cases.text[0] %></p>
          <p class="maintext__text"><%= cases.text[1] %></p>
          <p class="maintext__text"><%= cases.text[2] %></p>
          <p class="maintext__text"><%= cases.text[3] %></p>
        </div>
        <div class="form form__form-main">
          <h2 class="form__title">Оставить заявку на перевозку</h2>
          <form class="form__content" name="mainForm" novalidate>
            <div class="form__fields">
              <div class="input__container">
                <input
                  type="text"
                  id="user-name"
                  class="input__field"
                  name="userName"
                  placeholder=" "
                  required
                  value=""
                />
                <label for="user-name" class="input__label-name">Имя*</label>
              </div>
              <div class="input__container">
                <input
                  type="text"
                  id="user-phone"
                  class="input__field"
                  name="userPhone"
                  placeholder=" "
                  required
                  value=""
                />
                <label for="user-phone" class="input__label-name">Телефон*</label>
              </div>
              <div class="input__container form__field-container_text">
                <textarea
                  id="goods-data"
                  class="input__field input_textarea"
                  name="goodsData"
                  placeholder="Укажите, что именно вы хотите перевезти, откуда и куда, какие габариты и масса у вашего груза"
                  maxlength="255"
                  rows="3"
                ></textarea>
                <label for="goods-data" class="input__label-name"
                  >Краткая характеристика груза</label
                >
              </div>
              <div class="input__checkbox-container">
                <label for="check-field">
                  <input
                    type="checkbox"
                    id="check-field"
                    class="input__field input_checkbox"
                    name="dataConfirm"
                    required
                  />
                  <span class="input__field input_checkbox-pseudo"></span>
                </label>
                <span class="form__field-span"
                  >Согласен на обработку персональных данных в соответствии с
                  <span class="form__field-span_accent">политикой конфиденциальности</span></span
                >
                <span class="form__field-error user-name_error"></span>
              </div>
            </div>
            <button type="submit" name="sendButton" class="button button__primary">
              Отправить
            </button>
          </form>
        </div>
      </section>
      <section class="cases">
        <div class="cases__buttons">
          <button class="button button__dark cases__button">
            Все города <img src="<%=require('../images/icon/CaretDown.svg')%>" />
          </button>
          <button class="button button__dark cases__button">
            Все услуги <img src="<%=require('../images/icon/CaretDown.svg')%>" />
          </button>
        </div>
        <div class="cases__items">
          <a href="#" target="_blank" class="case">
            <article class="case__content">
              <img
                class="case__image"
                src="<%=require('../images/keys1.jpeg')%>"
                alt="Кейс фотография"
              />
              <h3 class="case__title"><%= casesingle.title %></h3>
              <p class="case__description"><%= casesingle.text %></p>
              <div class="case__tags">
                <p class="case__tag"><%= casesingle.subtext[0] %></p>
                <p class="case__tag"><%= casesingle.city[0] %></p>
              </div>
            </article>
          </a>
          <a href="#" target="_blank" class="case">
            <article class="case__content">
              <img
                class="case__image"
                src="<%=require('../images/keys2.jpeg')%>"
                alt="Кейс фотография"
              />
              <h3 class="case__title"><%= casesingle.title %></h3>
              <p class="case__description"><%= casesingle.text %></p>
              <div class="case__tags">
                <p class="case__tag"><%= casesingle.subtext[1] %></p>
                <p class="case__tag"><%= casesingle.city[1] %></p>
              </div>
            </article>
          </a>
          <a href="#" target="_blank" class="case">
            <article class="case__content">
              <img
                class="case__image"
                src="<%=require('../images/keys3.jpeg')%>"
                alt="Кейс фотография"
              />
              <h3 class="case__title"><%= casesingle.title %></h3>
              <p class="case__description"><%= casesingle.text %></p>
              <div class="case__tags">
                <p class="case__tag"><%= casesingle.subtext[2] %></p>
                <p class="case__tag"><%= casesingle.city[2] %></p>
              </div>
            </article>
          </a>
          <a href="#" target="_blank" class="case">
            <article class="case__content">
              <img
                class="case__image"
                src="<%=require('../images/keys1.jpeg')%>"
                alt="Кейс фотография"
              />
              <h3 class="case__title"><%= casesingle.title %></h3>
              <p class="case__description"><%= casesingle.text %></p>
              <div class="case__tags">
                <p class="case__tag"><%= casesingle.subtext[0] %></p>
                <p class="case__tag"><%= casesingle.city[0] %></p>
              </div>
            </article>
          </a>
          <a href="#" target="_blank" class="case">
            <article class="case__content">
              <img
                class="case__image"
                src="<%=require('../images/keys2.jpeg')%>"
                alt="Кейс фотография"
              />
              <h3 class="case__title"><%= casesingle.title %></h3>
              <p class="case__description"><%= casesingle.text %></p>
              <div class="case__tags">
                <p class="case__tag"><%= casesingle.subtext[1] %></p>
                <p class="case__tag"><%= casesingle.city[1] %></p>
              </div>
            </article>
          </a>
          <a href="#" target="_blank" class="case">
            <article class="case__content">
              <img
                class="case__image"
                src="<%=require('../images/keys3.jpeg')%>"
                alt="Кейс фотография"
              />
              <h3 class="case__title"><%= casesingle.title %></h3>
              <p class="case__description"><%= casesingle.text %></p>
              <div class="case__tags">
                <p class="case__tag"><%= casesingle.subtext[2] %></p>
                <p class="case__tag"><%= casesingle.city[2] %></p>
              </div>
            </article>
          </a>
          <a href="#" target="_blank" class="case">
            <article class="case__content">
              <img
                class="case__image"
                src="<%=require('../images/keys1.jpeg')%>"
                alt="Кейс фотография"
              />
              <h3 class="case__title"><%= casesingle.title %></h3>
              <p class="case__description"><%= casesingle.text %></p>
              <div class="case__tags">
                <p class="case__tag"><%= casesingle.subtext[0] %></p>
                <p class="case__tag"><%= casesingle.city[0] %></p>
              </div>
            </article>
          </a>
          <a href="#" target="_blank" class="case">
            <article class="case__content">
              <img
                class="case__image"
                src="<%=require('../images/keys2.jpeg')%>"
                alt="Кейс фотография"
              />
              <h3 class="case__title"><%= casesingle.title %></h3>
              <p class="case__description"><%= casesingle.text %></p>
              <div class="case__tags">
                <p class="case__tag"><%= casesingle.subtext[1] %></p>
                <p class="case__tag"><%= casesingle.city[1] %></p>
              </div>
            </article>
          </a>
          <a href="#" target="_blank" class="case">
            <article class="case__content">
              <img
                class="case__image"
                src="<%=require('../images/keys3.jpeg')%>"
                alt="Кейс фотография"
              />
              <h3 class="case__title"><%= casesingle.title %></h3>
              <p class="case__description"><%= casesingle.text %></p>
              <div class="case__tags">
                <p class="case__tag"><%= casesingle.subtext[2] %></p>
                <p class="case__tag"><%= casesingle.city[2] %></p>
              </div>
            </article>
          </a>
          <a href="#" target="_blank" class="case">
            <article class="case__content">
              <img
                class="case__image"
                src="<%=require('../images/keys1.jpeg')%>"
                alt="Кейс фотография"
              />
              <h3 class="case__title"><%= casesingle.title %></h3>
              <p class="case__description"><%= casesingle.text %></p>
              <div class="case__tags">
                <p class="case__tag"><%= casesingle.subtext[0] %></p>
                <p class="case__tag"><%= casesingle.city[0] %></p>
              </div>
            </article>
          </a>
          <a href="#" target="_blank" class="case">
            <article class="case__content">
              <img
                class="case__image"
                src="<%=require('../images/keys2.jpeg')%>"
                alt="Кейс фотография"
              />
              <h3 class="case__title"><%= casesingle.title %></h3>
              <p class="case__description"><%= casesingle.text %></p>
              <div class="case__tags">
                <p class="case__tag"><%= casesingle.subtext[1] %></p>
                <p class="case__tag"><%= casesingle.city[1] %></p>
              </div>
            </article>
          </a>
          <a href="#" target="_blank" class="case">
            <article class="case__content">
              <img
                class="case__image"
                src="<%=require('../images/keys3.jpeg')%>"
                alt="Кейс фотография"
              />
              <h3 class="case__title"><%= casesingle.title %></h3>
              <p class="case__description"><%= casesingle.text %></p>
              <div class="case__tags">
                <p class="case__tag"><%= casesingle.subtext[2] %></p>
                <p class="case__tag"><%= casesingle.city[2] %></p>
              </div>
            </article>
          </a>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer__logo"></div>
      <nav class="footer__links">
        <a href="#" class="footer__link footer__link_services" target="_blank">Услуги</a>
        <a href="#" class="footer__link footer__link_cases" target="_blank">Кейсы</a>
        <a href="#" class="footer__link footer__link_work" target="_blank">Работа у нас</a>
        <a href="#" class="footer__link footer__link_about" target="_blank">О компании</a>
        <a href="#" class="footer__link footer__link_cities" target="_blank">Города</a>
        <a href="#" class="footer__link footer__link_privacy" target="_blank"
          >Политика конфиденциальности</a
        >
        <a href="#" class="footer__link footer__link_autopark" target="_blank">Автопарк</a>
        <a href="#" class="footer__link footer__link_contacts" target="_blank">Контакты</a>
      </nav>
      <p class="footer__copyright">2023 © RTE Group</p>
    </footer>
  </body>
</html>
