<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= casepage.h1 %> - кейс</title>
  </head>
  <body class="page">
    <%= require('../blocks/header/header.ejs').default %>
    <main class="case-page container">
      <div class="green-figure green-figure_full-color"></div>
      <section class="case-page__maintext maintext">
        <div class="case-page__maintext-heading maintext__heading">
          <h1 class="case-page__maintext-title maintext__title title"><%= casepage.h1[0] %></h1>
          <div class="case-page__tags tags">
            <p class="case-page__tag"><%= casesingle.subtext[0] %></p>
            <p class="case-page__tag"><%= casesingle.city[0] %></p>
          </div>
          <p class="case-page__maintext-text maintext__text"><%= casepage.text1[0] %></p>
          <p class="case-page__maintext-text maintext__text"><%= casepage.text1[1] %></p>
        </div>
        <div class="form-block">
          <div class="form">
            <h2 class="form__title">Оставить заявку<span> на перевозку</span></h2>
            <form class="form__content" name="mainForm" novalidate>
              <div class="form__fields">
                <div class="input user-name-container">
                  <input
                    type="text"
                    id="user-name"
                    class="input__field text"
                    name="userName"
                    placeholder=" "
                    maxlength="255"
                    required
                    value=""
                  />
                  <label for="user-name" class="input__label-name user-name-label">Имя*</label>
                </div>
                <span class="form__error user-name-error"></span>
                <div class="input user-phone-container">
                  <input
                    type="tel"
                    id="user-phone"
                    class="input__field text"
                    name="userPhone"
                    placeholder=" "
                    maxlength="255"
                    required
                    pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$"
                    value=""
                  />
                  <label for="user-phone" class="input__label-name user-phone-label"
                    >Телефон*</label
                  >
                </div>
                <span class="form__error user-phone-error"></span>
                <div class="input form__text">
                  <textarea
                    id="goods-data"
                    class="input__field input__textarea"
                    name="goodsData"
                    placeholder="Укажите, что именно вы хотите перевезти, откуда и куда, какие габариты и масса у вашего груза"
                    maxlength="255"
                    rows="3"
                  ></textarea>
                  <label for="goods-data" class="input__label-name"
                    >Краткая характеристика груза</label
                  >
                </div>
                <div class="form__checkbox-container">
                  <label for="check-field">
                    <input
                      type="checkbox"
                      id="check-field"
                      class="form__field form__checkbox"
                      name="dataConfirm"
                      required
                    />
                    <span class="form__field form__checkbox-pseudo"></span>
                  </label>
                  <span class="form__field-span"
                    >Согласен на обработку персональных данных в соответствии с
                    <span
                      onclick="document.location='./privacy-policy.html'"
                      class="form__accent"
                      >политикой конфиденциальности</span
                    ></span
                  >
                  <span class="form__field-error"></span>
                </div>
              </div>
              <button type="submit" name="sendButton" class="button button_primary">
                Отправить
              </button>
            </form>
          </div>
          <div class="form submit-message">
            <button
              type="button"
              name="closeButton"
              class="submit-message__close-icon"
              aria-label="Кнопка закрытия всплывающего окна"
            ></button>
            <img
              class="submit-message__success-icon"
              src="<%=require('../images/request-confirm.svg')%>"
              alt="Иконка-подтверждение успешной отправки формы"
            />
            <h2 class="submit-message__title">Заявка отправлена!</h2>
            <p class="submit-message__subtitle">
              Мы&nbsp;свяжемся с&nbsp;вами в&nbsp;ближайшее время
            </p>
          </div>
        </div>
      </section>
      <section class="casepage">
        <div class="casepage__text-section">
          <h1 class="casepage__title"><%= casepage.h1[1] %></h1>

          <h2 class="casepage__subtitle"><%= casepage.h2 %></h2>
          <p class="casepage__text"><%= casepage.text2 %></p>

          <h3 class="casepage__what-is"><%= casepage.h3 %></h3>
          <p class="casepage__text"><%= casepage.text3 %></p>

          <h4 class="casepage__advantages"><%= casepage.h4 %></h4>
          <ul class="casepage__text">
            <li><%= casepage.text4[0] %></li>
            <li><%= casepage.text4[1] %></li>
            <li><%= casepage.text4[2] %></li>
          </ul>

          <h5 class="casepage__tech"><%= casepage.h5 %></h5>
          <ol class="casepage__text">
            <li><%= casepage.text5[0] %></li>
            <li><%= casepage.text5[1] %></li>
            <li><%= casepage.text5[2] %></li>
          </ol>

          <h6 class="casepage__example"><%= casepage.h6 %></h6>
          <p class="casepage__text"><%= casepage.text6[0] %></p>
          <ul class="casepage__text">
            <li><%= casepage.text6[1] %></li>
            <li><%= casepage.text6[2] %></li>
          </ul>
          <p class="casepage__mini-text"><%= casepage.text6[3] %></p>

          <div class="casepage__citation">
            <img
              class="casepage__citation-icon"
              src="<%=require('../images/icon/Frame36186.svg')%>"
              alt="Иконка кавычки для обозначения цитаты"
            />
            <div class="casepage__citation-text">
              <p class="casepage__text"><%= casepage.citation[0] %></p>
              <p class="casepage__mini-text"><%= casepage.citation[1] %></p>
            </div>
          </div>
          <div class="casepage__table">
            <table class="casepage__table-style">
              <thead class="casepage__table-header">
                <tr class="casepage__table-row">
                  <th class="casepage__table-column"><%= casepage.headtable[0] %></th>
                  <th class="casepage__table-column"><%= casepage.headtable[1] %></th>
                  <th class="casepage__table-column"><%= casepage.headtable[2] %></th>
                </tr>
              </thead>
              <tbody class="casepage__table-body">
                <tr class="casepage__table-row">
                  <td class="casepage__table-column"><%= casepage.firstcolumn[0] %></td>
                  <td class="casepage__table-column"><%= casepage.secondcolumn[0] %></td>
                  <td class="casepage__table-column"><%= casepage.thirdcolumn[0] %></td>
                </tr>
                <tr class="casepage__table-row">
                  <td class="casepage__table-column"></td>
                  <td class="casepage__table-column"><%= casepage.secondcolumn[1] %></td>
                  <td class="casepage__table-column"><%= casepage.thirdcolumn[1] %></td>
                </tr>
                <tr class="casepage__table-row">
                  <td class="casepage__table-column"><%= casepage.firstcolumn[1] %></td>
                  <td class="casepage__table-column"><%= casepage.secondcolumn[2] %></td>
                  <td class="casepage__table-column"><%= casepage.thirdcolumn[0] %></td>
                </tr>
                <tr class="casepage__table-row">
                  <td class="casepage__table-column"></td>
                  <td class="casepage__table-column"><%= casepage.secondcolumn[3] %></td>
                  <td class="casepage__table-column"><%= casepage.thirdcolumn[1] %></td>
                </tr>
                <tr class="casepage__table-row">
                  <td class="casepage__table-column"><%= casepage.firstcolumn[2] %></td>
                  <td class="casepage__table-column"><%= casepage.secondcolumn[4] %></td>
                  <td class="casepage__table-column"><%= casepage.thirdcolumn[1] %></td>
                </tr>
                <tr class="casepage__table-row">
                  <td class="casepage__table-column"><%= casepage.firstcolumn[3] %></td>
                  <td class="casepage__table-column"><%= casepage.secondcolumn[4] %></td>
                  <td class="casepage__table-column"><%= casepage.thirdcolumn[2] %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="casepage__photo-section">
          <img
            class="casepage__photo"
            src="<%=require('../images/car-photo1.png')%>"
            alt="Фотография <%= casepage.phototitle %>"
          />
          <p class="casepage__mini-text casepage__photo-title"><%= casepage.phototitle %></p>
        </div>
      </section>
    </main>
    <%= require('../blocks/footer/footer.ejs').default %>
  </body>
</html>
