.maintext__heading {
  max-width: 576px;
  margin-right: 24px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .maintext__heading {
    margin: 0 auto;
    padding-bottom: 40px;
    min-width: 288px;
  }
}