.cities__deliveries {
    padding-top: 96px;
    margin: 0;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

@media screen and (max-width: 1159px) {
    .cities__deliveries {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .cities__deliveries {
        padding-top: 48px;
        grid-template-columns: repeat(1, 1fr);
        gap: 8px;
        padding-bottom: 32px;
    }
}