.header__container-main {
  padding: 0 100px;
}
@media screen and (max-width: 1024px) {
  .header__container-main {
    padding: 0 50px;
  }
}
@media (max-width: 767px) {
  .header__container-main {
    padding-left: 16px;
    padding-right: 8px;
  }
}

