.header__body {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  height: 56px;
  align-items: center;
}
@media (max-width:767px) {
  .header__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}