.feedback__item {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    max-width: 300px;
    gap: 16px 16px;
}

@media screen and (max-width: 585px) {
    .feedback__item {
        max-width: 100%;
    }
}
