.form-section__info {
  margin-left: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .form-section__info {
    margin-left: 0;
    margin-top: 80px;
    
  }
}