.form-section__info {
  margin-left: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* position: relative; */
}
@media screen and (max-width: 1024px) {
  .form-section__info {
    margin-left: 30px;
    margin-top: 80px;
    
  }
}
@media screen and (max-width: 767px) {
  .form-section__info {
    margin-left: 0;
  }
}