.slide {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 550px;
    border: 1px solid #FFFFFF14;
    border-radius: 32px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .slide {
        min-height: 575px;
        align-items: flex-end;
    }
}
