<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= home.h1 %> - Главная страница</title>
  </head>

  <body class="page">
    <header class="header">
      <div class="header__container-main">
        <div class="header__body">
          <div class="logo__container logo__container_type_horizontal">
            <img
              class="logo"
              src="<%=require('../src/images/logo.svg')%>"
              alt="Логотип сервиса РТ Экспресс"
            />
            <span class="logo__caption logo__caption_hidden"><%= home.h1 %></span>
          </div>
          <div class="header__container">
            <div class="header__main">
              <div class="header__contact">
                <img src="<%=require('../src/images/phone-icon.svg')%>" />
                <span class="header__phone">+7 917 275-90-13</span>
              </div>
            </div>

            <label for="checkbox" class="header__checkbox-label"></label>
            <input id="checkbox" type="checkbox" class="header__checkbox" />

            <button class="button button__primary header__button">
              Оформить заявку
            </button>
            <nav class="header__menu">
              <ul class="header__list">
                <li><a href="./services.html" class="header__link">Услуги</a></li>
                <li><a href="" class="header__link">Автопарк</a></li>
                <li><a href="./cases.html" class="header__link">Кейсы</a></li>
                <li><a href="" class="header__link">Города</a></li>
                <li><a href="" class="header__link">О компании</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <main class="main-content">
      <section class="slide">
        <div class="slide__text-zone">
          <h1 class="slide__title"><%= home.h1 %></h1>
          <p class="slide__description"><%= home.h3 %></p>
          <p class="slide__text">
            <%= home.textabout[0] %> <%= home.textabout[1] %>&nbsp;<span
              class="slide__text-span"
              ><%= home.textabout[2] %></span
            ><br>
            <%= home.textabout[3] %>&nbsp;<span class="slide__text-span"
              ><%= home.textabout[4] %></span
            >
          </p>
        </div>
        <div class="slide__capsule">
          <img
            class="slide__image"
            src="<%=require('./images/slide-image.png')%>"
            alt="Перевозки транспортной компанией"
          />
        </div>
        <div class="slide__capsule slide__capsule_border"></div>
      </section>

      <section class="form-section">
        <div class="form form__form-main">
          <h2 class="form__title">Оставить заявку на перевозку</h2>
          <form class="form__content" name="mainForm" novalidate>
            <div class="form__fields">
              <div class="input__container">
                <input
                  type="text"
                  id="user-name"
                  class="input__field"
                  name="userName"
                  placeholder=" "
                  required
                  value=""
                />
                <label for="user-name" class="input__label-name">Имя*</label>
              </div>
              <div class="input__container">
                <input
                  type="text"
                  id="user-phone"
                  class="input__field"
                  name="userPhone"
                  placeholder=" "
                  required
                  value=""
                />
                <label for="user-phone" class="input__label-name"
                  >Телефон*</label
                >
              </div>
              <div class="input__container form__field-container_text">
                <textarea
                  id="goods-data"
                  class="input__field input_textarea"
                  name="goodsData"
                  placeholder="Укажите, что именно вы хотите перевезти, откуда и куда, какие габариты и масса у вашего груза"
                  maxlength="255"
                  rows="3"
                ></textarea>
                <label for="goods-data" class="input__label-name"
                  >Краткая характеристика груза</label
                >
              </div>
              <div class="input__checkbox-container">
                <label for="check-field">
                  <input
                    type="checkbox"
                    id="check-field"
                    class="input__field input_checkbox"
                    name="dataConfirm"
                    required
                  />
                  <span class="input__field input_checkbox-pseudo"></span>
                </label>
                <span class="form__field-span"
                  >Согласен на обработку персональных данных в соответствии с
                  <span class="form__field-span_accent"
                    >политикой конфиденциальности</span
                  ></span
                >
                <span class="form__field-error user-name_error"></span>
              </div>
            </div>
            <button
              type="submit"
              name="sendButton"
              class="button button__primary"
            >
              Отправить
            </button>
          </form>
        </div>
        <div class="form-section__info">
          <div class="form-section__title">RTE Group</div>
          <div class="form-section__about">
            <p class="form-section__paragraph"><%= home.text[0] %></p>
            <p class="form-section__paragraph"><%= home.text[1] %></p>
            <p class="form-section__paragraph"><%= home.text[2] %></p>
          </div>
          <button class="button button button__outline form-section__button">
            Подробнее
          </button>
        </div>
        <div
          class="slide__capsule slide__capsule_border form-section__capsule"
        ></div>
      </section>
      <section class="services-section">
        <h1 class="services-section__title services__item">Наши услуги</h1>
        <div class="services__item">
          <img
            src="<%=require('./images/icon/icon96/icon2.svg')%>"
            alt="icon1"
            class="services__icon"
          />
          <h4 class="services__subtitle"><%= services.title[0] %></h4>
          <p class="services__text">
            <%= services.text[0] %>
          </p>
          <button class="button button__outline">Подробнее</button>
        </div>
        <div class="services__item">
          <img
            src="<%=require('./images/icon/icon96/icon2.svg')%>"
            alt="icon1"
            class="services__icon"
          />
          <h4 class="services__subtitle"><%= services.title[1] %></h4>
          <p class="services__text">
            <%= services.text[1] %>
          </p>
          <button class="button button__outline">Подробнее</button>
        </div>
        <div class="services__item services__item_dark">
          <img
            src="<%=require('./images/icon/icon96/icon2.svg')%>"
            alt="icon1"
            class="services__icon"
          />
          <h4 class="services__subtitle"><%= services.title[2] %></h4>
          <p class="services__text">
            <%= services.text[2] %>
          </p>
          <button class="button button__outline">Подробнее</button>
        </div>
        <div class="services__item services__item_dark">
          <img
            src="<%=require('./images/icon/icon96/icon2.svg')%>"
            alt="icon1"
            class="services__icon"
          />
          <h4 class="services__subtitle"><%= services.title[3] %></h4>
          <p class="services__text">
            <%= services.text[3] %>
          </p>
          <button class="button button__outline">Подробнее</button>
        </div>  
        <div class="services__item ">
          <img
            src="<%=require('./images/icon/icon96/icon2.svg')%>"
            alt="icon1"
            class="services__icon"
          />
          <h4 class="services__subtitle"><%= services.title[4] %></h4>
          <p class="services__text">
            <%= services.text[4] %>
          </p>
          <button class="button button__outline">Подробнее</button>
        </div>
        <div class="services__item">
          <img
            src="<%=require('./images/icon/icon96/icon2.svg')%>"
            alt="icon1"
            class="services__icon"
          />
          <h4 class="services__subtitle"><%= services.title[5] %></h4>
          <p class="services__text">
            <%= services.text[5] %>
          </p>
          <button class="button button__outline">Подробнее</button>
        </div>
        <div class="services__item services__item_dark">
          <img
            src="<%=require('./images/icon/icon96/icon2.svg')%>"
            alt="icon1"
            class="services__icon"
          />
          <h4 class="services__subtitle"><%= services.title[6] %></h4>
          <p class="services__text">
            <%= services.text[6] %>
          </p>
          <button class="button button__outline">Подробнее</button>
        </div>
        <div class="services__item services__item_dark">
          <img
            src="<%=require('./images/icon/icon96/icon2.svg')%>"
            alt="icon1"
            class="services__icon"
          />
          <h4 class="services__subtitle"><%= services.title[7] %></h4>
          <p class="services__text">
            <%= services.text[7] %>
          </p>
          <button class="button button__outline">Подробнее</button>
        </div>   
        <div class="services__item">
          <img
            src="<%=require('./images/icon/icon96/icon2.svg')%>"
            alt="icon1"
            class="services__icon"
          />
          <h4 class="services__subtitle"><%= services.title[8] %></h4>
          <p class="services__text">
            <%= services.text[8] %>
          </p>
          <button class="button button__outline">Подробнее</button>
        </div>                  
      </section>
      <section class="whywe-section">
        <h1 class="whywe-section__title">Почему мы?</h1>
        <div class="whywe-section__container">
          <div class="whywe__item">
            <p class="whyme__number">1</p>
            <h3 class="whyme__title"><%= whywesmall.title[0] %></h3>
            <p class="whyme__description">
              <%= whywesmall.text[0] %>
            </p>
            <div class="whyme__vector"></div>
          </div>
          <div class="whywe__item">
            <p class="whyme__number">2</p>
            <h3 class="whyme__title"><%= whywesmall.title[1] %></h3>
            <p class="whyme__description">
              <%= whywesmall.text[1] %>
            </p>
            <div class="whyme__vector"></div>
          </div>
          <div class="whywe__item">
            <p class="whyme__number">3</p>
            <h3 class="whyme__title"><%= whywesmall.title[2] %></h3>
            <p class="whyme__description">
              <%= whywesmall.text[2] %>
            </p>
            <div class="whyme__vector"></div>
          </div>
          <div class="whywe__item">
            <p class="whyme__number">4</p>
            <h3 class="whyme__title"><%= whywesmall.title[3] %></h3>
            <p class="whyme__description">
              <%= whywesmall.text[3] %>
            </p>  
            <div class="whyme__vector"></div>
          </div>
        </div>
        <div
        class="slide__capsule slide__capsule_border whywe-section__capsule"
      ></div>
      </section>
      <section>
        <div class="cities-seciton">
          <div class="cities-section__container">
            <h1 class="cities-seciton__title">Города</h1>
            <p class="cities-section__text">Наш головной офис находится в Казани. Также наши представительства открыты в Уфе, Ижевске, Ульяновске, Йошкар-Оле, Нижнем Новгороде, Самаре, Перми и Чебоксарах.</p>
            <button class="button button__outline">Подробнее</button>
          </div>
          <div class="cities-seciton__frame"></div>
        </div>
      </section>
      <section class="case-section">
        <div class="case-section__header">
          <div class="case-section__title">Кейсы</div>
          <button class="button button__outline case-section__button">Все кейсы</button>
        </div>
        <div class="case-section__items">
          <a href="#" target="_blank" class="case">
            <article class="case__content">
              <img
                class="case__image"
                src="<%=require('../src/images/keys1.jpeg')%>"
                alt="Кейс фотография"
              />
              <h3 class="case__title"><%= casesingle.title %></h3>
              <p class="case__description"><%= casesingle.text %></p>
              <div class="case__tags">
                <p class="case__tag"><%= casesingle.subtext[0] %></p>
                <p class="case__tag"><%= casesingle.city[0] %></p>
              </div>
            </article>
          </a>
          <a href="#" target="_blank" class="case">
            <article class="case__content">
              <img
                class="case__image"
                src="<%=require('../src/images/keys2.jpeg')%>"
                alt="Кейс фотография"
              />
              <h3 class="case__title"><%= casesingle.title %></h3>
              <p class="case__description"><%= casesingle.text %></p>
              <div class="case__tags">
                <p class="case__tag"><%= casesingle.subtext[1] %></p>
                <p class="case__tag"><%= casesingle.city[1] %></p>
              </div>
            </article>
          </a>
          <a href="#" target="_blank" class="case">
            <article class="case__content">
              <img
                class="case__image"
                src="<%=require('../src/images/keys3.jpeg')%>"
                alt="Кейс фотография"
              />
              <h3 class="case__title"><%= casesingle.title %></h3>
              <p class="case__description"><%= casesingle.text %></p>
              <div class="case__tags">
                <p class="case__tag"><%= casesingle.subtext[2] %></p>
                <p class="case__tag"><%= casesingle.city[2] %></p>
              </div>
            </article>
          </a>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer__logo"></div>
      <nav class="footer__links">
        <a href='#' class="footer__link footer__link_services" target="_blank">Услуги</a>
        <a href='#' class="footer__link footer__link_cases" target="_blank">Кейсы</a>
        <a href='#' class="footer__link footer__link_work" target="_blank">Работа у нас</a>
        <a href='#' class="footer__link footer__link_about" target="_blank">О компании</a>
        <a href='#' class="footer__link footer__link_cities" target="_blank">Города</a>
        <a href='#' class="footer__link footer__link_privacy" target="_blank">Политика конфиденциальности</a>
        <a href='#' class="footer__link footer__link_autopark" target="_blank">Автопарк</a>
        <a href='#' class="footer__link footer__link_contacts" target="_blank">Контакты</a>
      </nav>
      <p class="footer__copyright">2023 © RTE Group</p>
    </footer>
    <!-- <ul>
      <li>
        <a href="./section.html">./section.html</a>
      </li>
      <br />
      <li>
        <a href="./UI-Kit.html">./UI-Kit.html</a>
      </li>
      <br />
      <li>
        <a href="./privacy-policy.html">./privacy-policy.html</a>
      </li>
      <br />
      <li>
        <a href="./500.html">./500.html</a>
      </li>
      <br />
      <li>
        <a href="./404.html">./404.html</a>
      </li>
      <br />
      <li>
        <a href="./services.html">/services.html</a>
      </li>
    </ul> -->
  </body>
</html>
