.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 56px;
  background-color: #222222;
  margin: 0 auto;
  box-sizing: border-box;
  z-index: 50;
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width:767px) {
  .header {
    height: 64px;
  }
}