<header class="header">
  <div class="header__main-container">
    <a href="/" class="logo__container logo__container_type_horizontal header__logo">
      <img class="logo" src="../../images/logo.svg" alt="Логотип сервиса РТ Экспресс" />
      <span class="logo__caption logo__caption_hidden">РТ Экспресс</span>
    </a>
    <div class="header__container">
      <div class="header__phone-container">
        <div class="header__contact">
          <img src="../../images/phone-icon.svg" alt="Иконка трубки в блоке с номером телефона" />
          <span class="header__phone">+7 917 275-90-13</span>
        </div>
      </div>
      <input type="checkbox" class="header__checkbox" id="checkbox" />
      <label class="header__checkbox-label" for="checkbox"></label>
      <button class="button button__primary header__button">Оформить заявку</button>
      <nav class="header__menu">
        <ul class="header__links">
          <li><a class="header__link" href="./services.html">Услуги</a></li>
          <li><a class="header__link" href="#">Автопарк</a></li>
          <li><a class="header__link" href="./cases.html">Кейсы</a></li>
          <li><a class="header__link" href="./cities.html">Города</a></li>
          <li><a class="header__link" href="#">О компании</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
