.whywe-section__capsule {
  width: 900px;
  height: 600px;
  transform: rotate(135deg);
  left: -515px;
  top: -42px;
  background-color: #00994C;
}
@media screen and (max-width: 767px) {
  .whywe-section__capsule  {
    width: 160px;
    height: 300px;
    left: -120px;
    top: -230px;
  }
}