.cities-seciton__frame {
  background-image: url(../../../images/cities-frame.png);
  background-repeat: no-repeat;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .cities-seciton__frame  {
    display: none;
  }
}