.case {
    display: grid;
    max-height: 410px;
    max-width: 344px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 24px;
    margin: 0;
    text-decoration: none;
    transition: border-color 0.6s ease;
}

@media screen and (max-width: 767px) {
    .case {
        max-width: 100%;
    }
}

@media screen and (max-width: 360px) {
    .case {
        min-height: 378px;
        min-width: 288px;
    }
}

.case:hover {
    border-color: #fff;
}
